.footer {
    color: #525252;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
  }
.footer > div {
    flex: 1;
    justify-content: flex-end;
  }
.footer > div > div{
    font-size: 28px;
    float: right;
    padding-left: 12px;
  }